Source: gmrender-resurrect
Maintainer: Henner Zeller <h.zeller@acm.org>
Homepage: https://github.com/hzeller/gmrender-resurrect/
Section: sound
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), autoconf, automake, libtool, 
 libupnp6-dev, libgstreamer1.0-dev, hardening-wrapper

Package: gmrender-resurrect
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer1.0-plugins-base, 
 gstreamer1.0-plugins-good, gstreamer1.0-pulseaudio | gstreamer1.0-alsa,  
 libupnp6
Suggests: gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly,
 gstreamer1.0-libav, gstreamer1.0-ffmpeg
Description: Minimalist UPNP AV renderer
 gmrender-resurrect is a minimalist UPNP AV renderer that can be used to 
 play music controlled by a UPNP AV control point.  This package contains
 only a renderer and will therefore require these things to be installed
 either on this device or another device on the local network in order to
 be usable.  gmrender-resurrect usese GStreamer to provide the
 infrastructure for playing music.
  
